# Environments
.env
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Gradio
.gradio/

# Archives
*.rar
*.zip
*.7z
*.tar.gz

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
